/*-------------------reset.css----------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:hover {
  text-decoration: none;
}

ins, a {
  text-decoration: none;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  outline: 0;
}

input:focus, select:focus, textarea:focus, button:focus {
  outline: 0;
}

[contenteditable=true] {
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
}

@-webkit-keyframes lightSpeedIn {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    opacity: 0;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 1;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes lightSpeedIn {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    opacity: 0;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 1;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: .5;
    left: 50%;
    -webkit-transform: translate(-50%, -10px);
            transform: translate(-50%, -10px);
  }
  25% {
    opacity: .625;
  }
  50% {
    opacity: .75;
  }
  75% {
    opacity: .875;
  }
  to {
    opacity: 1;
    -webkit-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
  }
}

@keyframes fadeIn {
  from {
    opacity: .5;
    left: 50%;
    -webkit-transform: translate(-50%, -10px);
            transform: translate(-50%, -10px);
  }
  25% {
    opacity: .625;
  }
  50% {
    opacity: .75;
  }
  75% {
    opacity: .875;
  }
  to {
    opacity: 1;
    -webkit-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
  }
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: .5;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  25% {
    opacity: .625;
  }
  50% {
    opacity: .75;
  }
  75% {
    opacity: .875;
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fadeInDown {
  from {
    opacity: .5;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  25% {
    opacity: .625;
  }
  50% {
    opacity: .75;
  }
  75% {
    opacity: .875;
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@-webkit-keyframes changeColor {
  from {
    background-color: rgba(250, 214, 137, 0.3);
  }
  to {
    background-color: #FFF;
  }
}

@keyframes changeColor {
  from {
    background-color: rgba(250, 214, 137, 0.3);
  }
  to {
    background-color: #FFF;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
}

.fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
}

.changeColor {
  -webkit-animation-name: changeColor;
          animation-name: changeColor;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}

.lightSpeedIn {
  -webkit-animation-name: lightSpeedIn;
          animation-name: lightSpeedIn;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-duration: 1.0s;
          animation-duration: 1.0s;
}

.newanime-container {
  position: relative;
  width: 100%;
}

.newanime-container .newanime-wrap {
  margin: auto;
  padding: 64px 0px;
  max-width: 1380px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.newanime-container .newanime-wrap .newanime-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 16px 0 0 0;
  overflow: hidden;
}

.newanime-container .newanime-wrap .newanime-block .newanime-date-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 56px 0;
  width: calc(100% / 6);
}

.newanime-container .newanime-wrap .newanime-block .newanime-date-area .date-block {
  position: relative;
}

.newanime-container .newanime-wrap .newanime-block .newanime-date-area .date-block > span {
  position: absolute;
  top: -12px;
  right: 12px;
  font-size: 13px;
  color: #fff;
  padding: 4px 16px;
  text-align: center;
  border-radius: 5px;
  background-color: #969696;
}

.newanime-container .newanime-wrap .newanime-block .newanime-date-area .date-block .date-info {
  top: -14px;
  right: unset;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 15px;
  pointer-events: none;
  background-color: #FB9C00;
}

.newanime-container .newanime-wrap .newanime-block .newanime-date-area .date-block .date-block-border {
  margin: 0 0 48px -12px;
  width: calc(100% + 12px);
  height: 3px;
  background-color: #c4c4c4;
}

.newanime-container .newanime-wrap .newanime-block .newanime-date-area .date-block .border-changecolor {
  background-color: #FB9C00;
}

.newanime-container .newanime-wrap .newanime-block .newanime-date-area .date-block .dotted-line {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
}

.newanime-container .newanime-wrap .newanime-block .newanime-date-area .anime-block {
  position: relative;
  padding: 36px 12px;
}

.newanime-container .newanime-wrap .newanime-block .newanime-date-area .anime-block > span {
  position: absolute;
  top: -14px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 4px 16px;
  font-size: 13px;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  background-color: #82B1CB;
}

.newanime-container .newanime-wrap .newanime-block .newanime-date-area .anime-block .anime-card-block {
  width: 100%;
  height: 136px;
  background-color: #969696;
  border-radius: 3px;
}

.newanime-container .newanime-wrap .newanime-block .new-count-1 .date-block .date-block-border {
  background-color: #FB9C00;
}

.newanime-container .newanime-wrap .newanime-block .new-count-1 .date-block > span {
  background-color: #FB9C00;
}

/*# sourceMappingURL=animatetest.css.map */
