@import "basic/_reset.scss";

@keyframes withfire {
  from,
  50%,
  to {
    
    opacity: 1;
  }

  25%,
  75% {
    
    opacity: 0;
  }
}
.popup-container {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
  background: #000;
  >img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
    width: calc(100% - 32px);
    height: calc(100% - 48px);
    object-fit: contain;
  }
  .fire {
    animation-name: withfire;
    animation-duration: 2.0s;
    animation-iteration-count: infinite;
    opacity: 0;
  }
}