@keyframes lightSpeedIn {
  from {
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
  }

  60% {
    opacity: 0.5;
  }

  80% {
    opacity: 1;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: .5;
    left: 50%;
    transform: translate(-50%, -10px);
  }
  
  25% {
    opacity: .625;
  }

  50% {
    opacity: .75;
  }

  75% {
    opacity: .875;
  }

  to {
    opacity: 1;
    transform: translate(-50%, 0px);
  }
}

@keyframes fadeInDown {
  from {
    opacity: .5;
    transform: translateY(20px);
  }
  
  25% {
    opacity: .625;
  }

  50% {
    opacity: .75;
  }

  75% {
    opacity: .875;
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

@keyframes changeColor {
  from {
    background-color: rgba(250,214,137,0.3);
  }

  to {
    background-color: #FFF;
  }
}

// @keyframes mosueOutShowDate {
//   from {
//     opacity: 0;
//     transform: translateY();
//   }
//   to {
//     opacity: 1;
//   }
// }

//anime start

.fadeIn {
  animation-name: fadeIn;
  animation-timing-function: ease-out;
  animation-duration: 0.2s;
}

.fadeInDown {
  animation-name: fadeInDown;
  animation-timing-function: ease-out;
  animation-duration: 0.2s;
}

.fadeOut {
  animation-name: fadeOut;
  animation-timing-function: ease-out;
  animation-duration: 0.25s;
}

.changeColor {
  animation-name: changeColor;
  animation-timing-function: ease-out;
  animation-duration: 0.4s;
}

.lightSpeedIn {
  animation-name: lightSpeedIn;
  animation-timing-function: ease-out;
  animation-duration: 1.0s;
}

//anime end

//rwd border setting start

.newanime-date-area {
  .date-block {
    .date-block-border {
      right: 0px;
      width: 100%;
    }
  }
  &:nth-of-type(6n) {
    .date-block {
      .dotted-line {
        width: calc( 100%);
      }
      // >span {
      //   right: 12px;
      // }
    }
    // .anime-block {
    //   padding: 36px 24px;
    // }
  }
}


//rwd border setting end


.newanime-container {
  position: relative;
  width: 100%;
  .newanime-wrap {
    margin: auto;
    padding: 64px 0;
    max-width: 1380px;
    box-sizing: border-box;
    .newanime-block {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 16px 12px 0 12px;
      overflow: hidden;
    }
  }
}


.newanime-date-area {
  display: flex;
  flex-direction: column;
  margin: 0 0 36px 0;
  width: calc(100% / 6);
  // &:last-child {
  //   max-width: 194px;
  //   .anime-block {
  //     padding: 36px 0;
  //     >span {
  //       transform: translateX(-50%);
  //     }
  //   }
  //   .date-block {
  //     >span {
  //       right: 0;
  //     }
  //   }
  // }
  .date-block {
    position: relative;
    height: 37px;
    >span {
      position: absolute;
      top: -12px;
      right: 12px;
      font-size: 13px;
      color: #fff;
      padding: 4px 16px;
      text-align: center;
      border-radius: 5px;
      background-color: #969696;
      z-index: 3;
    }
    .double-circle {
      position: absolute;
      top: -9px;
      right: -10px;
      z-index: 3;
      >.circle {
        fill: white;
        stroke: #c4c4c4;
      } 
    }
    .circle-other {
      >.circle {
        stroke: #D95639;
      }
    }
    .circle-active {
      >.circle {
        stroke: #FB9C00;
      }
    }
    .date-info {
      top: -12px;
      right: unset;
      left: 50%;
      transform: translateX(-50%);
      font-size: 13px;
      pointer-events: none;
      background-color: #FB9C00;
    }
    .date-block-border {
      position: absolute;
      top: 0px;
      // margin: 0 0 48px -12px;
      height: 3px;
      background-color: #c4c4c4;
      z-index: 1;
    }
    .border-changecolor {
      top: -1px;
      background-color: #FB9C00;
      height: 5px;
      width: calc(100%);
      z-index: 2;
    }
    .dotted-line {
      position: absolute;
      top: 24px;
      left: 0;
      width: 100%;
    }
  }
  .anime-block {
    position: relative;
    padding: 16px 12px 0px 12px;
    >span {
      position: absolute;
      top: -14px;
      left: 50%;
      transform: translateX(-50%);
      padding: 2px 12px;
      font-size: 12px;
      color: #fff;
      text-align: center;
      border-radius: 50px;
      background-color: #56b4d1;
    }
    .anime-card-block {
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: #969696;
      border-radius: 3px;
      overflow: hidden;
      box-shadow: 0 0 6px 1px rgba(0,0,0,.1);
      .anime-pic-block {
        position: relative;
        width: 100%;
        .line-gradient {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          background-image: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 23%, rgba(0,0,0,.3) 64%, rgba(0,0,0,0.60) 100%);
        }
        .anime-blocker {
          position: relative;
          background-color: #fff;
          overflow: hidden;
          &:after {
            content: "";
            position: relative;
            display: block;
            width: 100%;
            padding-bottom: 56.25%;
          }
          >img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .anime-detail-info-block {
          position: absolute;
          bottom: 0;
          left: 0;
          display: flex;
          align-items: center;
          flex-wrap: nowrap;
          width: 100%;
          padding: 4px;
          box-sizing: border-box;
          .anime-episode {
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            flex: 1;
            padding: 4px;
            >img {
              margin: 0 4px 0 0;
              width: 12px;
              height: 12px;
              fill: #fff;
            }
            >p {
              font-size: 12px;
              color: #fff;
            }
          }
          .new-anime {
            padding: 0px 8px;
            height: 20px;
            font-size: 13px;
            border-radius: 4px;
            color: #fff;
            font-weight: 500;
            background-color: #DB5539;
          }
        }
        .btn-favorite {
          position: absolute;
          top: 4px;
          right: 4px;
          width: 30px;
          height: 30px;
          >img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .anime-name-block {
        display: flex;
        flex-direction: row;
        padding: 4px 8px;
        width: 100%;
        box-sizing: border-box;
        background-color: #fff;
        .anime-name {
          width: calc(100% - 80px);
          flex-grow: 1;
          overflow: hidden;
          >p {
            font-size: 13px;
            line-height: 18px;
            color: #323232;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipse;
          }
        }
        .anime-watch-number {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-wrap: nowrap;
          max-width: 80px;
          overflow: hidden;
          >img {
            margin: 0 4px;
            width: 14px;
            height: 14px;
          }
          >p {
            font-size: 13px;
            line-height: 18px;
            color: #323232;
          }
        }
      }
    }
  }
}

.new-count-1 {
  .date-block {
    .date-block-border{
      background-color: #FB9C00;
    }
    >span {
      background-color: #FB9C00;
    }
  }
}

.new-count-13 {
  .date-block {
    .date-block-border {
      background-color: #D95639;
    }
    >span {
      background-color: #D95639;
    }
    .border-changecolor {
      background-color: #FB9C00;
    }
  }
}


@for $i from 1 through 13 {
  .new-count-#{$i} {
    z-index: (14 - $i);
  }
}

@media screen and (max-width: 1200px) {
  .newanime-date-area {
    width: calc(100% / 5);
    .date-block {
      .date-block-border {
        right: 0px;
        width: 100%;
      }
    }
    &:nth-of-type(6n) {
      .date-block {
        .date-block-border {
          right: 0px;
          width: calc(100%);
        }
        .dotted-line {
          width: calc( 100%);
        }
      }
    }
  }
}

@media screen and (max-width: 998px) {
  .newanime-date-area {
    margin: 0 0 48px 0;
    width: calc(100% / 4);
    .date-block {
      .date-block-border {
        right: 0px;
        width: 100%;
      }
    }
    &:nth-of-type(6n) {
      .date-block {
        .date-block-border {
          right: 0px;
          width: calc(100%);
        }
        .dotted-line {
          width: calc( 100%);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .newanime-date-area {
    margin: 0;
    width: calc(100% / 3);
    .date-block {
      display: none;
      .date-block-border {
        display: none;
      }
    }
    .anime-block {
      padding: 12px 6px 0 6px;
      >span {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .newanime-date-area {
    width: calc(100% / 2);
  }
}


@media screen and (max-width: 360px) {
  .newanime-date-area {
    width: 100%;
  }
}
